name: vente-voitures

services:
  db:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: vente_voitures
      POSTGRES_USER: vente_voitures_user
      POSTGRES_PASSWORD: vente_voitures_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
